includes/state-machines.yml
stateMachines:
  FetchAttachmentsFunc:
    name: FetchAttachmentsFunc-${self:provider.stage}
    events:
      - http:
          path: '/'
          method: POST
    definition:
      StartAt: Fetch
      States:
        Fetch:
          Type: Task
          InputPath: '$'
          Resource:
            Fn::GetAtt: [fetch, Arn]
          ResultPath: '$'
          Catch:
            - ErrorEquals:
                - States.ALL
              ResultPath: $
              Next: FailState
          Next: SuccessState
        SuccessState:
          Type: Succeed
        FailState:
          Type: Fail
